<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=sol.title %></title>
</head>
<body>
    <div>
        <%=sol.title %>
    </div>
    <div>
        <%-sol.problem_html %>
    </div>
    <div>
        <%-sol.writeup_html %>
    </div>
    <div><iframe height="400px" width="600px" src = "<%=sol.preview_link%>"></iframe></div>
</body>
</html>